---
import '../styles/global.css';
// Tests work with this import
// import Button from '@/components/Button.astro';

// Tests don't work with this import
import { Button } from "@/components/Button"

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
			<!-- Do not work with this import Astro tests -->
			<Button client:load>Tailwind Button in Astro!</Button>
			<!-- Works with this import Astro tests -->
			<!-- <Button>Tailwind Button in Astro!</Button> -->
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		</div>
	</body>
</html>
